///////////////examples/////////////////////
body{
 text-align: center;
}
///////////////////////////////////////////////////
.previous{
    color: red;
}
.next{
    
}
.Body{
    text-align: left;
    background: radial-gradient(rgba(55,65,75,.5), rgba(45,60,50, 1));
}
.Content{
    word-spacing: 1.5px;
    letter-spacing: 2.5px;
    color: rgba(20,20,20,1);
    padding: 1%;
}
.pagenum a{
    padding: 1%;
    color: aqua;
    font-family: serif;
    font-size: 50px;
    font-weight: bolder;
    border-style: double;
    border-color: red;
    border-radius: 100px;
    background: red;
}
footer{
    text-align: center;
}
