/*Website Template by freewebsitetemplates.com*/
@font-face {
	font-family: 'Arimo-Bold';
	src: url('../fonts/Arimo-Bold/Arimo-Bold.eot');
	src: url('../fonts/Arimo-Bold/Arimo-Bold.woff') format('woff'), url('../fonts/Arimo-Bold/Arimo-Bold.ttf') format('truetype'), url('../fonts/Arimo-Bold/Arimo-Bold.svg') format('svg');
}
@font-face {
	font-family: 'ChangaOne';
	src: url('../fonts/ChangaOne/ChangaOne-Regular.eot');
	src: url('../fonts/ChangaOne/ChangaOne-Regular.woff') format('woff'), url('../fonts/ChangaOne/ChangaOne-Regular.ttf') format('truetype'), url('../fonts/ChangaOne/ChangaOne-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}
#Relictemp h1{
    font-family: fantasy;
    font-size: 20px;
    color: #313939;
    margin-left: 25%;
}
#Relictemp p{
    font-family: serif;
    margin-left: 25%;
}
#Relictemp b{
    margin-left: 25%;
}
body {
    background-image:url(../images/codex%20background%201.jpg);
    border-style: solid;
    border-width: 75px;
    border-image-outset: 100px;
    border-image: url(../images/SkullFrame.png) round round;
    border-image-slice: 20%;
    margin: 0;
    background-size: cover;
	font-family: Arial  sans-serif;
}

#header {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#header .section {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#header .section .logo {
	float: left;
	margin: 0;
	padding: 60px 0 0 10px;
	width: 324px;
}
#header .section .logo a {
	background: url(../images/bg-logo.png) repeat-x top left;
	color: #fff;
	display: block;
	font-family: 'Arimo-Bold';
	font-size: 60px;
	font-weight: normal;
	height: 130px;
	line-height: 130px;
	margin: 0;
	padding: 0;
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	width: 270px;
}
#header .section ul {
	display: inline-block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 114px 0 0;
}

#header .article {
	background: #fff;
	border: 2px solid #5fb3bd;
	border-radius: 4px;
	margin: 50px auto 28px;
	overflow: hidden;
	padding: 0;
	width: 936px;
}
#header .article img {
	display: block;
	float: left;
	margin: 0 50px 0 0;
	padding: 0;
}
#header .article h1 {
	color: #1b2130;
	font-family: 'ChangaOne';
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	line-height: 50px;
	padding: 110px 30px 30px;
}
#body {

}
#body > ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body > ul li {
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 220px;
}
#body > ul li > a {
	background: url(../images/frame.png) no-repeat center top;
	display: block;
	margin: 0;
	padding: 5px 5px 29px;
}
#body > ul li > a:hover {
	opacity: 0.9;
}
#body > ul li > a img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#body > ul li b {
	color: #000;
	display: block;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 10px 0 5px;
	text-transform: capitalize;
}
#body > ul li p {
	color: #464646;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

#body > div {
	overflow:hidden;
}
#body > .more {
	color: #464646;
	display: block;
	font-size: 13px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
	width: 80px;
}
#body > .more:hover {
	color: #4a8b92;
}
#body h2 {
	background: url(../images/bg-featured.png) repeat-x;
	color: #fff;
	font-family: 'Comfortaa-Regular';
	font-size: 20px;
	font-weight: normal;
	height: 47px;
	letter-spacing: 0.1em;
	left: 15px;
	line-height: 47px;
	margin: 0;
	padding: 0 25px;
	position: absolute;
	text-transform: capitalize;
	top: -14px;
}
#body h3 {
	color: #2f394e;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 25px 10px 40px;
	text-transform: capitalize;
}
#body > b {
	color: #2f394e;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0 10px;
	text-transform: capitalize;
}
#body > p {
	color: #464646;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 30px 10px;
}
#body > p a {
	color: #464646;
	text-decoration: underline;
}
#body > p a:hover {
	color: #252525;
}
#body div div {
	float: left;
	margin: 0 10px;
	padding: 0;
}

#body div .featured {
    background-image: url(../images/100px-Crystal_Guardian%20.jpg.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
	
	min-height: 450px;
	padding: 45px 15px 54px;
	position: relative;
	width: 350px;
    margin-left: 25px;
}
#body div .featured h2 {
	text-align: center;
}
#body div .featured h3 {
	color: #354057;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 10px 0 0;
	text-transform: none;
}
#body div .featured img {
	display: block;
	float: left;
	margin: 10px 30px 25px 0;
	padding: 0;
}
#body div .featured p {
	clear: both;
	color: #464646;
	font-size: 12px;
	line-height: 24px;
	margin: 0 0 24px;
	padding: 0;
}
#body div .featured p a {
	color: #464646;
}
#body div .featured p a:hover {
	color: #252525;
}
#body div .section {
	width: 460px;
}
#body div .section div {
	background: #393939;
	border-style: groove;
	border-radius: 4px;
	float: none;
	margin: 0;
	padding: 0 15px;
	position: relative;
}
#body div .section .article {
	height: 100%;
	margin-bottom: 25px;
	padding: 25px 25px 20px;
	text-align: right;
}
#body div .section .article h2 {
	text-align: left;
}
#body div .section .article h2 a {
	background: url(../images/icons.png) no-repeat 0 10px;
	display: inline-block;
	height: 40px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 31px;
}
#body div .section .article p {
	color: #c0b283;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0px 0px;
	text-align: center;
}
#body div .section .article p a {
	color: #f5f5f5;
	text-decoration: underline;
}
#body div .section .article p a:hover {
	color: #97d0d3;
}
#body div .section .article > a {
	color: #f5f5f5;
	font-size: 18px;
	text-decoration: none;
}

#body div .section .newsletter {
	height: 100%;
    width: 100%;
	padding: 30px 15px 19px 214px;
    position: relative;
}

#body div .newsletter div p{
    background: #393939;
    background-size: cover;
	border: 5px groove #c0b283;
	float: none;
	margin: 0;
	padding: 0 15px;
	position: relative;
}
#body div .section .newsletter img {
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -13px;
	z-index: 5;
}

#body div .Sheader p{
    color: darkslategrey;
	font-size: 14px;
	line-height: 24px;
    
	text-align: center;
}
#Xheader{
    margin-left: 1%;
}
#Xheader p{
    color: #c0b283;
	font-size: 300%;
    font-family:fantasy;
	line-height: 24px;
    border:  solid;
    width: 98%;
    border-width: 7px;
    
    border-image: url(../images/50a1007c9e009fc3d97cc69cf015328e.jpg.png) 30 stretch stretch;
    background-color: #393939;
	margin: 0;
	padding: 25px 0px;
	text-align: center;
}

#body div .newsletter p {
	color: #c0b283;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0px 0px;
	text-align: center;
}

table{
    width: 100%;
    height: 100%;
}
td{
    width: 100%;
    padding: 10px;
}
tc{
    display: table-column-group;
    width: 100%;
    height: 100%;
}
.relic{
    color: black;
    font-style: italic;
    width: 100%;
    height: 100%;
    position: relative;  
}
.relic p{
    font-family:serif; 
    
}

.relic2{
    color: black;
    font-style: italic;
    width: 100%;
    height: 100%;
    position: relative;  
}
.relic2 p{
     font-family:serif; 
}
.relic2 h1{
    font-family: fantasy;
    font-size: 20px;
    font-size: 20px;
    color: darkslategrey;
    width: 100%;
}
.relic3{
    
    color: black;
    font-style: italic;
    width: 100%;
    height: 100%;
    position: relative;  
}
.relic3 p{
     font-family:serif; 
}
.relic3 h1{
    font-family: fantasy;
    font-size: 20px;
    font-size: 20px;
    color: darkslategrey;
    width: 100%;
}
.relic4{
    
    color: black;
    font-style: italic;
    width: 100%;
    height: 100%;
    position: relative;  
}
.relic4 p{
     font-family:serif; 
}
.relic4 h1{
    font-family: fantasy;
    font-size: 20px;
    font-size: 20px;
    color: darkslategrey;
    width: 100%;
}
.relic5{
    color: black;
    font-style: italic;
    width: 100%;
    height: 100%;
    position: relative;  
}
.relic5 p{
     font-family:serif; 
}
.relic5 h1{
    font-family: fantasy;
    font-size: 20px;
    font-size: 20px;
    color: darkslategrey;
    width: 100%;
}

#body div .section .newsletter p {
	color: #f5f5f5;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 30px;
	margin: 0;
	padding: 0;
}
#body div .section .newsletter p span {
	display: block;
}





#body > .article {
	margin: 0;
	padding: 0;
}
#body > .article b {
	color: #2f394e;
	display: inline-block;
	font-weight: normal;
	margin: 0;
	padding: 0 10px 15px;
	text-transform: capitalize;
}
#body > .article p {
	color: #464646;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 0 10px;
}
#body > .article p a {
	color: #464646;
}

#body > .article ul {
	margin: 0;
	padding: 30px 0 30px 10px;
}
#body > .article ul li {
	color: #464646;
	line-height: 24px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#body > .article ul li a {
	color: #464646;
	text-decoration: none;
}
#body > .article h3 {
	padding-bottom: 20px;
}
#body .content {
	float: left;
	margin: 0 35px 0 10px;
	padding: 0;
	width: 585px;
}
#body .content h3 {
	padding-bottom: 25px;
	padding-left: 0;
}
#body .content p {
	color: #464646;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
}
#body .content p a {
	color: #464646;
	text-decoration: underline;
}
#body .content p a:hover {
	color: #252525;
}

#footer {
	background: #4c8f96;
	border-top: 1px solid #9bd9e0;
	margin: 0;
	padding: 0;
}
#footer > div {
	margin: 0 auto;
	padding: 30px 0 28px;
	overflow: hidden;
	text-align: center;
	width: 960px;
}
#footer div p {
	color: #ededed;
	display: inline-block;
	float: right;
	font-size: 12px;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 27px 0 0;
	text-align: center;
}



<--RealCodex-->
#body div .TABLE
{ 
   position: relative;
}
.mainlore p{
    background-size: auto;
    margin: inherit;
    
}

.Header{
    padding-left: 40%;
}
table .thehead{
    background-color: darkgoldenrod;
}
table thead th div{
    padding-left: 25px;
    margin: inherit;
    float: left;
}
table  th
{  
    background: #3B3B3B;
    color: #FFF;
    text-align: left;
}
.section1{  
    column-rule-color: #3B3B3B;
    background-color: #3B3B3B;
    color: #c0b283;
    column-count: 2;
    column-rule-style: solid;
}
.section1 p{
    font-size: 20px;
    padding: inherit;
    padding-left: 25%;
    padding-bottom: 15px;
    width: 60%;
}

.factionkeywords ul{
    padding: auto;
    margin-top: inherit;
    margin-left: 250px;
}
table h4{
    padding: inherit;
    margin: inherit;
    float:left;
}
table tbody th{
    text-align: left;
}
table thead th .p1{
    color: white;
    background: #302939;
}
table tbody td{
    padding: auto;
    color: #47433F;
    font-size: 12px;

}
table tbody .td1{
    color: #c0b283;
    background: #47433F;
    font-size: 12px;
}
table tbody td ul{
    padding-left: 20%;
    margin-right: 165px;
    background: #47433F;
    color: #c0b283;
}

table thead tr th{
    color: #c0b283;
}
TABLE{
    background-color: #c0b283;  
}
div.TABLE{
    width: auto;
    margin: 10%;
    height: inherit;
    border-style: groove;
    border-width: 5px;
    border-top-left-radius: 10px;
}

table thead td .wargear1{
    width: inherit;
    background: #c0b283;
    color: #47433F;
}
table thead td {
    padding: inherit;
    width: 100%;
}
.pagenum{
    padding-left: 50%;
    
}
.cost{
    float: right;
    padding-left: 250px;
}
.thebod table{
    min-width: 100%;
}
.perlumiteIMG{
    background-image: url(../images/latest.jpg);
     background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
	min-height: 450px;
	padding: 45px 15px 54px;
	position: relative;
	width: 350px;
    margin-left: 25px;
}
.perlumiteTXT{
    color: #c0b283;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}
.anhedralTXT p{
    font-size: 16px;
    color: #c0b283;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1.5%;
    background: linear-gradient(rgba(59, 59, 59, 0.28), rgba(59, 59, 59, 0.4));
    background: linear-gradient(to left,rgba(59, 59, 59, 0.35), rgba(59, 59, 59, 0.35));
    letter-spacing: 1.5px;
    word-spacing: 5px;
    column-count: 2;
    column-rule-style: solid;
    column-rule-color:  rgba(59, 59, 59, 0.3);
    width: 65%;
    margin-left: 18%;
}
.anhedralTXT1 p{
    font-size: 16px;
    background: linear-gradient(rgba(59, 59, 59, 0.25), rgba(59, 59, 59, 0.95));
    color: #c0b283;
    letter-spacing: 1.5px;
    word-spacing:5px;
    width: 45%;
    column-count: 2;
    margin-left: 29%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1.5%;
}

.ANsec {
    background: linear-gradient(rgba(59, 59, 59, 0), rgba(59, 59, 59, 0.95));
    background: linear-gradient(to left,rgba(59, 59, 59, .05), rgba(59, 59, 59, 0.95));
    width: 100%;
}

.ANheader p{
    color: #c0b283;
	font-size: 300%;
    font-family:fantasy;
	line-height: 100%;
    width: 100%;
    background: linear-gradient(to left,rgba(59, 59, 59,0.15), rgba(59,59,59,.9));
	margin: 0;
	padding: 25px 0px;
	text-align: center;
}
.Resheader p{
    color: #c0b283;
	font-size: 300%;
    font-family:fantasy;
	line-height: 100%;
    width: 100%;
    background: rgba(59, 59, 59, 0.15);
	margin: 0;
	padding: 25px 0px;
	text-align: center;
}
.GreaterIgniaTXT1 p{
    font-size: 16px;
    background: linear-gradient(rgba(59, 59, 59, 0.25), rgba(59, 59, 59, 0.95));
    color: #c0b283;
    letter-spacing: 1.5px;
    word-spacing:5px;
    width: 45%;
    column-count: 2;
    padding-left: 1%;
    padding-top: 1%;
    margin-left: 2%;
    padding-bottom: 1.5%;
}
.ResonitesTXT1 p{
    font-size: 16px;
    background: linear-gradient(rgba(59, 59, 59, 0.25), rgba(59, 59, 59, 0.95));
    color: #c0b283;
    letter-spacing: 1.5px;
    word-spacing:5px;
    margin-left: 50%;
    width: 45%;
    column-count: 2;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1.5%;
}
.AdNeoTXT1 p{
    font-size: 16px;
    background: linear-gradient(rgba(59, 59, 59, 0.25), rgba(59, 59, 59, 0.95));
    color: #c0b283;
    letter-spacing: 1.5px;
    word-spacing:5px;
    margin-left: 50%;
    width: 45%;
    column-count: 2;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1.5%;
}
.VitreomTXT1 p{
    font-size: 16px;
    background: linear-gradient(rgba(59, 59, 59, 0.25), rgba(59, 59, 59, 0.95));
    color: #c0b283;
    letter-spacing: 1.5px;
    word-spacing:5px;
    width: 45%;
    column-count: 2;
    padding-left: 1%;
    padding-top: 1%;
    margin-left: 2%;
    padding-bottom: 1.5%;
}
.fillIMG img{
    width: 80%;
    margin-left: 10%;
    max-height: 90px;
    
}

.relic1{
    color: #c0b283;
    width: 100%;
    height: 100%;
    border: solid 5px;
    border-radius: 10%;
}

.relic1 p{
     font-family:serif; 
    font-size: 13px;
    letter-spacing: 1px;
}
.relic1 b{
    font-family: sans-serif;
    font-size: 14px;
    word-spacing:2.5px;
    letter-spacing: 1.5px;
    color: #c0b269;
}
.relic1 h1{
    font-family: fantasy;
    margin-left: 25%;
    color: #c0b269;
    font-size: 25px;
    letter-spacing: 1.5px;
    width: 100%;
}