///////////////examples/////////////////////
body{
 text-align: center;
}
///////////////////////////////////////////////////
.previous{
    
}
.next{
    
}
.Body{
    padding: 0;
    max-height: 1000px;
    min-height: 1000px;
    max-width: 100%;
    text-align: left;
    border: solid;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    border-width: 50px;
    border-image: url(../images/Border.png) round round;
    border-image-slice: 20%;
    background-color: inherit;  
    font-weight: 100;
    font-family: serif;

}

.Content{
    word-spacing: 1.5px;
    letter-spacing: 2.5px;
    color: rgba(20,20,20,1);
    padding: 1%;
    max-height: 1000px;
    max-width: inherit;
    background-color: inherit;
    background-repeat: repeat;
    background-color: rgba(0,0,0,.2);
    border: double;
    border-width: medium;
    border-color: white;
    font-weight: 100;
    font-family: serif;
}
.Details{
    column-count: 2;
}
.pagenum a{
    text-align: left;
    padding: 1%;
    color: inherit;
    font-family: serif;
    font-size: 25px;
    border-style: double;
}
footer h3{
    text-align: center;
    margin: auto;
}
footer{
    font-size: 25px;
    text-align: left;
    margin-top: 10%;
}
.Header{
    font-family: serif;
    font-size: 25px;
    text-align: center;
}
.Header p{
    font-size: 18px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    margin: 0;
    font-family: serif;
}
.data-table {
    column-count: 10;
    text-align: center;
    background-color: white;
    column-rule-style: groove;
}
.data-table p{
    max-width: inherit;
    margin: inherit;
}
.data-info {
    column-count: 10;
    text-align: center;
    column-rule-style: groove;
}
.data-info p{
    max-width: inherit;
    margin: auto;
}
.desc{
    max-width: inherit;
    background-color: white;
}
.Weapon-Info{
    column-count: 7;
    text-align: center;
    column-rule-style: groove;
}
.Weapon-Info p{
    margin: auto;
}
.Weapon-stats{
    text-align: center;
    column-count: 7;
    background-color: white;
    column-rule-style: groove;
}
.name{
    margin: inherit;
    padding: inherit;
    text-align: left;
}
.Wargear{
    column-count: 2;
    padding: 0;
    margin: 0;
}
.Wargear h1{
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}
.Wargear li{
    text-align: left;
}
.Abilities {
    background-color: white;
}
.Faction{
    background-color: white;
    column-count: 2;
    padding: 0;
    margin: 0;
}
.table{
    padding: .15%;
    border-style: double;
    border-width: 5px;
    border-radius: 15px;
}
.Abilities{
    column-count: 2;
    column-count: 2;
    max-height: 800px;
    background-color: inherit;
    width: 100%;
}
.Abilities h1{
    padding: 0;
    padding-bottom: 15%;
    margin: 0;
}
.Psyker{
    column-count: 2;
}
.Keywords{
    column-count: 2;
}
.Strat{
    text-align: center;
    word-wrap: break-word;
    max-width: 90%;
    min-width: 40%;
    padding: 1%;
    margin: auto;
    margin-top: %;
    border-style: double;
}
.Strat p{
    font-size: 15px;
    font-style: italic;
}
.Strat h1{
    margin: 0;
    font-family: serif;
    font-size: 20px;
    text-align: left;
    padding: 0;
}
.Stratagems{
    font-family: serif;
    column-count: 2;
    column-fill: balance;
    max-width: inherit;
    min-width: inherit;
}
.ContentLore{
    width: 85%;
    column-count: 2;
    column-gap: normal;
    border: double;
    border-color: white;
    border-width: medium;
    margin: auto;
    padding: 1.5%;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    font-family: serif;
    text-align: left;
    background-color: rgba(0,0,0,.2);
    font-weight: 100;
    font-family: serif;
}
.ContentLore b{
    font-family: serif;
}
.WarlordTraits{
    text-align: center;
    font-family: serif;
    column-count: 2;
}
.Trait{
    max-width: 70%;
    padding: 1%;
    margin: auto;
    margin-top: 10%;
}

.UnitTable{
    text-align: center;
    max-width: inherit;
    padding: auto;
    margin: auto;
}
.Trait p{
    font-style: italic;
    padding: 0;
    margin: 0;
}
.Trait h1{
    margin: 0;
    padding: 0;
}
.Trait p{
    margin-bottom: 3%;
}
.TheKeywords{
    font-family: serif;
    max-width: 100%;
    padding: 4%;
    text-align: center;
    column-count: 2;
    column-fill: balance;
    margin: 1%;
}
.KeyDesc{
    text-align: center;
    font-family: serif;
}
.KeyDesc h1{
    margin: auto;
}
.KeyDesc p{
    text-align: center;
    font-family: serif;
    max-width: 65%;
    margin: auto;
    padding: 1%;
}
.PsykerTable{
    text-align: center;
    margin: 1%;
    font-family: serif;
}
.PsykerTable h1, h2{
    font-family: serif;
    font-weight: 600;
    margin: 1%;
    padding: 0;
}
.Psy {
    margin: 1.5%;
    text-align: center;
    padding: .5%;
}
.Psy h1{
}
.Psy b{
    text-align: center;
    font-weight: 100;
    margin: 1%;
    padding: 1%;
}
.Scenario{
    max-height: 1000px;
    column-count: 2;
    width: 100%;
    font-weight: 100;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    font-family: serif;
}
.Scenario h2{
    text-align: left;
    font-size: 25px;
    margin: 0;
}
.Scenario h2 p{
    font-size: 20px;
    font-weight: 100;
    font-family: serif;
}
h2.VictoryConditions{
}
.ScenarioStrat{
    text-align: center;
    word-wrap: break-word;
    max-width: 40%;
    min-width: 40%;
    padding: 1%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: .5%;
    border-style: double;
}
.ScenarioStrat h2{
    text-align: center;
    font-family: serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
h2.Cost{
    font-family: serif;
    font-size: 20px;
    text-align: left;
    width: 15%;
}
.Ability{
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding: 1%;
}
.Ability h2{
    padding: 0;
    margin: 0;
    text-align: center;
}
.Ability p{
    margin: 0;
    margin-bottom: 1%;
    font-style: italic;
    padding: 0;
    font-size: 15px;
    text-align: center;
}
html{
    background: radial-gradient(rgba(8,216,240,.3), rgba(84,101,160, 1));
}
.Deployment img{
    width: 65%;
}
.Deployment{
    margin: 1%;
}
.Deployments{
    column-count: 2;
    max-height: 800px;
    margin: 1%;
    padding: 1%;
}
.Deployment p{
    margin: 0;
    padding: 0;
    width: 50%;
    font-family: serif;
    font-weight: 900;
}
.ContentLore img{
    height: 600px;
    margin-left: 15%;
}
.greaterIgnia{
    width: 85%;
}
.Quartz{
    width: 100%;
}
.UnitTable img{
    margin: 0;
    max-width: 70%;
}
.ContentHistory{
    column-count: 3;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    font-family: serif;
    font-weight: 100;
    column-rule-style: double;
    background-color: rgba(0,0,0,.2);
    padding: .5%;
    border: double;
    border-width: medium;
    border-color: white;
}
.ContentHistory b{
    font-size: 20px;
}
.ContentHistory h2{
    font-size: 25px;
}
.ContentHistory h1{
    font-size: 35px;
}
.Tact{
    font-family: serif;
    font-weight: 100;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    font-size: 20px;
}
.Tact p{
    width: 50%;
}
.Thead{
    margin: auto;
    column-count: 2;
    width: 40%;
    padding: 1%;
    border: double;
    border-width: thin;
    border-color: white;
}
.Tacts{
    column-count: 2;
    margin: 1%;
}
.Tacts b{
    font-size: 18px;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.Tacts h1{
    margin: 0;
}
.Tacts p{
    margin: 0;
}
.Header p{
    width: 50%;
    font-family: serif;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 1.5px;
}
